body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #E4F9F5;
  line-height: 2;
  margin-top: 0;
  position: relative;
  padding-top: 100px;
}

p {
  font-size: 1rem;
  font-weight: bold;
  color: #40514E;
  line-height: 2;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.626rem;
  color: #66BFBF;
  /* 100% = 16px = 1em */
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3, a {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.intro {
  width: 20%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  padding: 50px 0 20px;
  background: #66bfbf;
}

.cloud-bottom {
  position: absolute;
  left: 350px;
  bottom: 300px;
}

.cloud-top {
  position: absolute;
  top: 40px;
  right: 600px;
}

.proimg {
  margin-top: 20px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chillies-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.footer-logo {
  margin: 0 10px;
}

.horizontal-rule {
  border-style: dotted;
  width: 5%;
  border-style: dotted none none none;
  border-width: 10px;
  border-color: #EAF6F6;
  margin: 100px auto;
}

.btn {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  height: 18px;
  line-height: 18px;
  color: #FFFFFF;
  font-family: Arial;
  width: 122px;
  font-size: 17px;
  font-weight: 300;
  padding: 18px;
  background-color: #66BFBF;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

.copyright-text {
  font-family: 'Montserrat', sans-serif;
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
